<div class="container">
  <h1>クイズ一覧</h1>
  <% @quizs.each do |list| %>
    <%= link_to public_quiz_question_path(list.id, list.questions.first.id) do %>
      <li><%= list.name %></li>
    <% end %>
  <% end %>
</div>