<div class="main">
  <div class="container">
    <h1 class="quiz_show mt-3 mb-3">クイズ一覧</h1>
    <div class="row">
      <div class="col quiz_container">
        <% @quizs.each do |list| %>
          <%= link_to public_quiz_question_path(list.id, list.questions.first.id) do %>
            <div class="rounded quiz_title"><%= list.name %></div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h2 class="bg-primary">クイズ随時更新予定</h2>
      </div>
    </div>
  </div>
</div>