<!--<div class="container">-->
<!--  <h1>クイズ開始</h1>-->

<!--  <h3><%#= @question.body %></h3>-->
<!--  <%# @question.choices.each do |list| %>-->
<!--    <li>-->
<!--      <%#= link_to public_quiz_answers_path(@question.quiz.id),method: :post do %>-->
<!--        <%#= list.body %>-->
<!--      <%# end %>-->
<!--    </li>-->
<!--  <%# end %>-->
<!--</div>-->