<div class="main">
  <div class="container top_image text-center">
    <h1 class="pt-5 text-white">Rubyの事ホントに知ってる？</h1>
    <p class="text-white">railsのフレームワークに頼り切ってません？<br>Rubyの事ちゃんとわかってる？</p>
    <%= link_to public_quizzes_path,class:"btn-lg" do %>
      <%= image_tag "quiz_charange.png" %>
    <% end %>
  </div>
</div>
