@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

*{
  padding: 0px;
  margin: 0px;
}
.choice_select{
  display: block;
  margin: 30px;
}

body{
  font-family: serif;
}

.image-wrap{
  position: relative;
  overflow: hidden;
  // padding-top: 90%;
}

.image-wrap img{
  max-width: 100%;
  padding: 10px;
  background: rgba(255, 255, 128, .5);
  max-height: 300px;
}

// footerをヘッダー下部に固定、高さ可変対応。
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1;
  padding-top: 100px;
  padding-bottom: 30px;
}
header {
   width: 100%;
}
footer {
   width: 100%;
   background-color: #FF82B2	;
}

.quiz_container{
  display: flex;
  flex-wrap: wrap;         /*折り返し有り・複数行*/
  justify-content: center;
}

.quiz_show{
  background-color: #DDDDDD;
}

.quiz_title{
  margin-right: 30px;
  width: 200px;
  height: 200px;
  background-color: skyblue;
  margin-bottom: 30px;
  text-align: center;
  background-image: url("../../assets/images/ruby.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.top_image{
  background-image: url("../../assets/images/ruby.png");
  height: 70vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.question_field{
  height: 70vh;
  background-color: #DDDDDD;
  padding: 20px;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.choice_select_field{
  margin: 20px;
  border: 0.5rem solid;
}

#first_question a{
  display: block;
  font-size: 20px;
  border: solid;
  width: 300px;
  text-align: center;
  height: 20vh;
  background-color: #FF99CC;
}
#second_question a{
  display: block;
  font-size: 20px;
  border: solid;
  width: 300px;
  text-align: center;
  height: 20vh;
  background-color: #99CCFF;
}
#third_question a{
  display: block;
  font-size: 20px;
  border: solid;
  width: 300px;
  text-align: center;
  height: 20vh;
  background-color: #CCFF99;
}

nav{
  background-color: #FF82B2	;
}

.main{
  background-image: url(../../assets/images/quiz_image.jpg);
  background-size: cover;
}

.title_image{
  background-color: #DDDDDD;
}

.submit_image{
  background-image: url(../../assets/images/submit_image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position : center;
  height: 45vh;
  width: 100%;
}

.request{
  position:  absolute;        /* 要素の配置方法を指定 */
  background-color: #FFFF99;     /* 背景色指定 */
  padding:  10px;             /* 余白指定 */
  right:  50px;                /* 左からの位置指定 */
  top: 20px;
  list-style: none;
}


.hover4 {
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
	background-color: #4CAF50;
	color: #fff;
	display: inline-block;
	padding: 0.6em 2em;
	margin: 0 0 1em;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
.hover4:hover {
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
	transform: translateY(-0.1875em);
}

.result_link{
  display: flex;
  flex-wrap: wrap;         /*折り返し有り・複数行*/
  justify-content: space-between;
}
